@charset "UTF-8";
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
}

button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: #202020;
}

/* desktop */
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: underline;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

:root {
  --swiper-theme-color: #0400ff;
}

.container {
  padding: 0 20px;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
  }
}
.bg-grey {
  background: #f8f8f8;
}

.sec-g {
  padding: 30px 0;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media screen and (min-width: 1280px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}
#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#header.active {
  background: rgba(241, 243, 248, 0.3);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #logo a {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 1.4rem;
}

@media screen and (min-width: 1280px) {
  #header {
    position: relative;
    z-index: 9999;
  }
}
#gnb {
  display: flex;
}
#gnb .label-menu {
  position: relative;
  z-index: 1000;
  transform: translateY(9px);
}
#gnb .label-menu .bar {
  width: 30px;
  height: 3px;
  background: #000;
  margin: 5px 0;
  border-radius: 3px;
  transition: all 0.3s;
}
#gnb #btnMenu:checked + .label-menu .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
#gnb #btnMenu:checked + .label-menu .bar:nth-child(2) {
  opacity: 0;
}
#gnb #btnMenu:checked + .label-menu .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
#gnb #btnMenu:checked ~ .menu-wrap {
  left: 0;
}
#gnb .menu-wrap {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 20px;
  background: #fff;
  transition: all 0.3s;
}
#gnb .m-util {
  display: flex;
  gap: 5px;
  padding: 0;
}
#gnb .m-util a {
  display: flex;
  align-items: center;
  padding: 5px 20px 7px;
  border: 1px solid #616161;
  border-radius: 5px;
  font-weight: 700;
  color: #616161;
}
#gnb .m-util a.active {
  background: #fff000;
  border: 1px solid #fff000;
  color: #fff;
}
#gnb .top-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
#gnb .top-menu dl {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background: rgba(255, 240, 0, 0.05);
  border-radius: 5px;
}
#gnb .top-menu dl.active dt a::after {
  content: "\f068";
}
#gnb .top-menu dl.active dd {
  height: auto;
  padding-bottom: 20px;
}
#gnb .top-menu dl dt {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}
#gnb .top-menu dl dt a {
  position: relative;
  display: block;
  padding: 12px 0 17px;
}
#gnb .top-menu dl dt a::after {
  content: "\f067";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-57%);
  font-family: "Line Awesome Free";
  font-weight: 900;
}
#gnb .top-menu dl dd {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
#gnb .top-menu dl dd a {
  display: block;
  padding: 3px 0;
  font-size: 1.2rem;
  color: rgba(32, 32, 32, 0.7);
}
#gnb .top-menu dl dd a.active {
  color: #fff000;
}

@media screen and (min-width: 1280px) {
  #gnb #btnMenu,
  #gnb .label-menu,
  #gnb .m-util {
    display: none;
  }
  #gnb .menu-wrap {
    overflow: visible;
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background: transparent;
  }
  #gnb .top-menu {
    flex-direction: row;
    margin-top: 0;
  }
  #gnb .top-menu dl {
    position: relative;
    padding: 0;
    background-color: transparent;
  }
  #gnb .top-menu dl:hover dt a, #gnb .top-menu dl:focus-within dt a {
    color: #fff000;
    text-decoration: none;
  }
  #gnb .top-menu dl:hover dt a::before, #gnb .top-menu dl:focus-within dt a::before {
    width: 100%;
  }
  #gnb .top-menu dl:hover dd, #gnb .top-menu dl:focus-within dd {
    height: auto;
    max-height: 300px;
    padding: 10px 0 20px;
  }
  #gnb .top-menu dl dt {
    font-size: 1.2rem;
    font-weight: 400;
  }
  #gnb .top-menu dl dt a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 40px;
  }
  #gnb .top-menu dl dt a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #fff000;
    transition: all 0.3s;
  }
  #gnb .top-menu dl dt a::after {
    display: none;
  }
  #gnb .top-menu dl dd {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-height: 0;
    transition: all 0.5s;
    background: #fff;
  }
  #gnb .top-menu dl dd a {
    padding: 7px 0;
    text-align: center;
  }
}
.util {
  display: none;
}

@media screen and (min-width: 1280px) {
  .util {
    display: flex;
  }
}
.lang {
  display: flex;
  align-items: center;
}
.lang a {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  color: rgba(32, 32, 32, 0.7);
}
.lang a.active {
  color: #202020;
}
.lang a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background: #e0e0e0;
}
.lang a:first-child::before {
  display: none;
}

.search-area .btn-search {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 10px;
}
.search-area .btn-search i {
  font-size: 1.7rem;
  transform: scaleX(-1);
}
.search-area .layer-search {
  display: none;
}
.search-area .search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 300px;
}
.search-area .search-box .form-search {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 10px 0 30px;
  border: 2px solid #fff000;
  border-radius: 30px;
}
.search-area .search-box .inp-search {
  width: 600px;
  padding: 20px 0;
  border: none;
  background-color: transparent;
}
.search-area .search-box .inp-search:focus {
  outline: none;
}
.search-area .search-box .btn-submit {
  width: 40px;
  height: 40px;
  background: #fff000;
  border-radius: 50%;
  transform: scaleX(-1);
}
.search-area .search-box .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
}
.search-area .search-box .btn-close i {
  color: #bdbdbd;
  font-size: 1.875rem;
}

#main {
  flex: 1;
}

.sec-type1,
.sec-type2 {
  padding: 50px 0;
}
.sec-type1 .sec-title,
.sec-type2 .sec-title {
  padding-bottom: 30px;
  font-size: 1.875rem;
  color: #000;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .sec-type1,
  .sec-type2 {
    padding: 150px 0;
  }
}
/* home_footer */
footer {
  background: #f9f9f9;
}
footer .footer_cont {
  margin: 0 auto 50px;
  max-width: 1476px;
  position: relative;
  padding: 50px 90px;
}
footer .footer_cont.mo-foot {
  display: none;
}
footer .footer_cont .footer_left {
  width: calc(100% - 156px);
  float: left;
  text-align: left;
}
footer .footer_cont .footer_left img {
  width: 180px;
}
footer .footer_cont .footer_left .copyright_txt {
  margin: 36px 0 23px;
}
footer .footer_cont .footer_left .copyright_txt p {
  font-size: 12px;
  line-height: 20px;
  color: #999;
  font-weight: 700;
}
footer .footer_cont .footer_left .copyright_txt p.en {
  margin-top: 4px;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 500;
}
footer .footer_cont .footer_left .link_txt {
  display: inline-block;
  margin-right: 9%;
  margin-bottom: 10px;
}
footer .footer_cont .footer_left .link_txt a {
  font-size: 14px;
  line-height: 1;
  color: #999;
  display: inline-block;
  margin-left: 19px;
  font-weight: 700;
  transition: 0.3s;
}
footer .footer_cont .footer_left .link_txt a:hover {
  color: #117ce9;
}
footer .footer_cont .footer_left .link_txt a:first-child {
  margin: 0;
}
footer .footer_cont .footer_left .link_social {
  display: inline-block;
}
footer .footer_cont .footer_left .link_social ul li {
  display: inline-block;
  margin-left: 24px;
  text-align: right;
}
footer .footer_cont .footer_left .link_social ul li:first-child {
  margin: 0;
}
footer .footer_cont .footer_left .link_social ul li a {
  display: block;
  font-size: 14px;
  line-height: 1;
  color: #aaa;
  display: inline-block;
  font-weight: 700;
  transition: 0.3s;
}
footer .footer_cont .footer_left .link_social ul li a:hover {
  color: #117ce9;
}
footer .footer_cont .footer_right {
  width: auto;
  float: right;
  text-align: right;
}
footer .footer_cont .footer_right .famliy_site {
  display: inline-block;
  margin-top: -9px;
  position: relative;
}
footer .footer_cont .footer_right .famliy_site button {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #999;
  display: inline-block;
  padding: 0 42px 0 14px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}
footer .footer_cont .footer_right .famliy_site button:hover {
  background: #000;
}
footer .footer_cont .footer_right .famliy_site button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 13px;
  right: 14px;
  background: url("/static/images/footer_open.png") no-repeat center;
  background-size: cover;
  transition: 0.3s;
}
footer .footer_cont .footer_right .famliy_site ul {
  display: none;
  padding: 8px 0;
  width: 100%;
  position: absolute;
  bottom: 48px;
  text-align: left;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
}
footer .footer_cont .footer_right .famliy_site ul li {
  position: relative;
  padding: 6px 14px;
}
footer .footer_cont .footer_right .famliy_site ul li a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.3px;
  color: #1e1e1e;
  transition: 0.3s;
}
footer .footer_cont .footer_right .famliy_site ul li a:hover {
  color: #117ce9;
}
footer .footer_cont .footer_right .famliy_site ul li a::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 10px;
  background: url("/static/images/outlink_icon.png") no-repeat center;
  background-size: cover;
  transition: 0.3s;
  opacity: 0;
}
footer .footer_cont .footer_right .famliy_site ul li a:hover::after {
  opacity: 1;
}
footer .footer_cont .footer_right .famliy_site.on button {
  background: #1e1e1e;
}
footer .footer_cont .footer_right .famliy_site.on button::after {
  transform: rotate(45deg);
}

.slide-intro .swiper-slide {
  position: relative;
}
.slide-intro .swiper-slide.swiper-slide-active .slide-txt {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.slide-intro .slide-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.8s;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.slide-intro .slide-txt span {
  padding: 3px 10px;
  font-size: 0.875rem;
  background: #fff000;
}
.slide-intro .slide-txt strong {
  display: block;
  margin: 10px 0 15px;
  font-size: 2.3rem;
  line-height: 1.2;
}
.slide-intro picture {
  position: relative;
  width: 100%;
}
.slide-intro picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.slide-intro img {
  height: 100vh;
}
.slide-intro .swiper-button-prev,
.slide-intro .swiper-button-next {
  top: auto;
  left: 50%;
  bottom: 90px;
}
.slide-intro .swiper-button-prev:hover::before,
.slide-intro .swiper-button-next:hover::before {
  color: #ff5722;
}
.slide-intro .swiper-button-prev::before,
.slide-intro .swiper-button-next::before {
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 3rem;
}
.slide-intro .swiper-button-prev::after,
.slide-intro .swiper-button-next::after {
  display: none;
}
.slide-intro .swiper-button-prev {
  transform: translateX(-635px);
}
.slide-intro .swiper-button-prev::before {
  content: "\f060";
}
.slide-intro .swiper-button-next {
  transform: translateX(-570px);
}
.slide-intro .swiper-button-next::before {
  content: "\f061";
}
.slide-intro .swiper-pagination {
  width: 70px;
  top: auto;
  left: 50%;
  bottom: 86px;
  transform: translateX(-500px);
  color: #fff000;
  font-size: 1.2rem;
}
.slide-intro .swiper-pagination span {
  font-weight: bold;
}

@media screen and (min-width: 1280px) {
  .slide-intro .slide-txt {
    width: 100%;
    text-align: left;
  }
  .slide-intro .slide-txt span {
    font-size: 1.2rem;
  }
  .slide-intro .slide-txt strong {
    margin-bottom: 30px;
    font-size: 5rem;
  }
  .slide-intro .slide-txt p {
    font-size: 1.5rem;
  }
  .slide-intro img {
    height: 640px;
  }
}
.sec-eft {
  overflow: hidden;
}

.slide-eft {
  position: relative;
}
.slide-eft .swiper {
  overflow: visible;
  width: 85%;
  margin-left: 0;
  margin-right: 0;
}
.slide-eft .swiper-slide {
  height: 400px;
  background: #e0e0e0;
  border-radius: 20px;
}
.slide-eft .swiper-button-prev,
.slide-eft .swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0;
  background: rgba(255, 240, 0, 0.5);
  transform: translateY(-50%);
}
.slide-eft .swiper-button-prev::after,
.slide-eft .swiper-button-next::after {
  transform: scale(0.8);
}
.slide-eft .swiper-button-prev {
  left: -100px;
}
.slide-eft .swiper-button-next {
  right: -100px;
}

@media screen and (min-width: 768px) {
  .slide-eft .swiper {
    width: 95%;
  }
}
@media screen and (min-width: 1280px) {
  .slide-eft .swiper {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */